In [ ]:
# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [ ]:
## Importing Dataframes

In [4]:
#Products Dataframe

df_prods = pd.read_csv(r'/Users/pedropaulo/Desktop/Tasks CF/Instacart Basket Analysis/Data/Prepared Data/products_checked.csv', index_col=False,sep=',')

In [5]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8
1,1,2,All-Seasons Salt,104.0,13.0,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94.0,7.0,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38.0,1.0,10.5
4,4,5,Green Chile Anytime Sauce,5.0,13.0,4.3

In [ ]:
# Orders Dataframe

In [10]:
df_ords = pd.read_csv(r'/Users/pedropaulo/Desktop/Tasks CF/Instacart Basket Analysis/Data/Prepared Data/orders_checked.csv', index_col=False,sep=';')

In [11]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [ ]:
# Orders_prior Dataframe

In [14]:
df_ords_prior = pd.read_csv(r'/Users/pedropaulo/Desktop/Tasks CF/Instacart Basket Analysis/Data/Original Data/order_products__prior.csv', index_col=False,sep=',')

In [15]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [16]:
# Check the dimensions of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [17]:
df_ords.shape

(1048575, 6)

In [ ]:
# Merge the Dataframes

In [18]:
# Creating Dataframe
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [19]:
#Checking
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [20]:
df_merged_large['_merge'].value_counts()

both          9927471
left_only           0
right_only          0
Name: _merge, dtype: int64

In [22]:
# Export File in Pickle Format
df_merged_large.to_pickle(r'/Users/pedropaulo/Desktop/Tasks CF/Instacart Basket Analysis/Data/Prepared Data/orders_products_combined.pkl')